/aws-infrastructure-as-code
/aws/create-acm-cert/*
/aws/create-ec2-instance/*
/aws/create-ec2-ssh-key/*
/aws/create-ecs-vpc/*
/aws/create-eks-cluster/*
/aws/create-eks-cluster-with-vpc/*
/aws/create-eks-ebs-storageclass-role/*
/aws/create-eks-efs-storageclass-role/*
/aws/create-eks-ingress-loadbalancer-role/*
/aws/create-eks-vpc/*
/aws/create-iam-role/*
/aws/create-vpc/*
/aws/get-iam-userid/*




!/aws/create-acm-cert/*.tf
!/aws/create-ec2-instance/*.tf
!/aws/create-ec2-ssh-key/*.tf
!/aws/create-ecs-vpc/*.tf
!/aws/create-eks-cluster/*.tf
!/aws/create-eks-cluster-with-vpc/*.tf
!/aws/create-eks-ebs-storageclass-role/*.tf
!/aws/create-eks-efs-storageclass-role/*.tf
!/aws/create-eks-ingress-loadbalancer-role/*.tf
!/aws/create-eks-vpc/*.tf
!/aws/create-iam-role/*.tf
!/aws/create-vpc/*.tf
!/aws/get-iam-userid/*.tf
